body{
    margin: auto;
    background-color:#2c59ad;
}
.titulo{
    background-color: #000405;
    color: #b1ebf5;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    font-size:auto;
    text-align: center;
    border: solid 2.5px #b1ebf5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px
}
#click{
    margin-top: 0.5em;
    padding: 10px;
    width: 10em;
    font-size:auto;
    text-align: center;
}
.boton{
    margin: auto;
}
#resultado{
    background: #b1ebf5;
    border: 2px dotted #b1ebf5;
    font-size: 20px;
    height: 24em;
    width: 50em;
    margin: auto;
    text-align: center;
    margin-bottom: 15px
}
#class{
    margin: auto 12em;
}